* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
  background-color: black;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 1300;
  height: 80px;
  padding: 20px;
  justify-content: space-around;
  background-color: black;
  color: #fff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content p {
  padding: 0px 20px;
}

.navbar button {
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 32px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: box-shadow 0.2s;
  box-shadow: -5px 0 20px -5px #00d1ff, 5px 0 20px -5px #001aff;
}

.bodyCon {
  width: auto;
  height: 560px;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px;
}
.mainFont h1 {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

.extra button {
  letter-spacing: 0.5px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 32px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: box-shadow 0.2s;
  box-shadow: -5px 0 20px -5px #00d1ff, 5px 0 20px -5px #001aff;
  color: #fff;
  margin: 0px 40px;
}

.extra {
  display: flex;
  flex-direction: row;
  padding: 60px;
}

.list {
  height: 700px;
}

.list p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.companyList {
  display: flex;
  flex-direction: row;
  margin: 40px 180px;
  justify-content: center;
  align-self: center;
}

.companyList h3 {
  padding: 20px;
  font-size: 28px;
}

.last {
  justify-content: center;
  align-items: center;
  height: 500px;
}
